.header.aqua-header.mobile-no-transparent {
  background: #5097ac;
}

.contact-form-cont a a:hover a:visited a:active {
  color: #5097ac;
  text-decoration: none;
}

/*  Pencil 9 bg's */
.australian-aqua-bg {
  background-color: #5097ac;
}

.circle-icon-40 {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  background: #5097ac;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.circle-icon-50 {
  position: absolute;
  padding: 10px;
  top: 0;
  left: 0;
  background: #5097ac;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
}

.footer-text{
    font-size:11px;
    /*color:#7e8082;*/
    color: rgba(255,255,255, .7);
  }

.p9-section-title {
  font-weight:bold !important;
  color: #5097ac;
}

/*Pencil 9 - change color of button */
.button.aqua {
  color: rgba(255,255,255, .7);
  background-color: #5097ac;
}
.button.aqua:hover {
	color: rgba(255,255,255, 1.0);
}